.button-create-google-meet-class, .button-create-zoom-class {
  display: inline-block;
  margin: 16px 12px 16px 0;
  padding: 15px 23px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: #232429;
  border-radius: 2px;
  background-color: #d3d4d9;
  font-size: 16px;
  font-weight: 700;
  line-height: 1rem;
  -webkit-text-decoration: none;
  -webkit-appearance: none;
  appearance: none;
  -webkit-font-smoothing: antialiased;
}

.button-create-google-meet-class:hover, .button-create-zoom-class:hover {
  background-color: #c1c2c7;
  -webkit-text-decoration: none;
  text-decoration: none;
}

.button-create-google-meet-class:focus, .button-create-zoom-class:focus {
  -webkit-text-decoration: none;
  text-decoration: none;
}